* {
  box-sizing: border-box;
}

.threads-grid {
  display: grid;
  grid-gap: 10px;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  /*grid-auto-flow: column;*/
}
.thread {
  /*width: 300px;*/
}
.pane-thread {
  width: 70vw;
  overflow-x: hidden;
  overflow-y: auto;
  border: solid 1px #ccc;
  margin: 8px;
  padding: 8px;
}
.pane-log {
  width: 30vw;
  overflow: hidden;
  border: solid 1px #ccc;
  margin: 8px;
  padding: 8px;
}

.registers-grid {
  display: grid;
  grid-gap: 10px;
  width: 100%;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  /*grid-template-rows: repeat(auto-fit, minmax(40px, 1fr));*/
  /*grid-auto-flow: column;*/
}
